body {
    font-family: 'Poppins', sans-serif;
}

// inizio navbar home page
.navbar .logo {
    color: $red;
}

// fine navbar home page
// inizio modali login e register
.button_login,
.button_register {
    background-color: $red;
    border-radius: 10px;
    border: 0;
    color: $white;
}

.modal-dialog {
    height: max-content;
    width: 100%;
    ;
    .modal-body-left {
        width: 50%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .modal-body-right {
        width: 50%;
        height: 100%;
    }
}

.btn-login-register {
    background-color: $red;
    border: none;
    color: $white;
}

.color-red {
    color: $red;
}

.color-red:hover {
    color: $red;
}

// fine modali login e register
// barra superiore
nav {
    height: 70px;
    a {
        img {
            height: 45px;
        }
    }
}

.my_user {
    display: flex;
    align-items: center;
    .my_user_icon {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50px;
        overflow: hidden;
        justify-content: center;
        img {
            height: 100%;
        }
    }
}

//barra laterale
.sidebar {
    min-height: calc(100vh - 46px);
}

.flex-column {
    .nav-item {
        a {
            color: $red;
            font-size: 25px;
        }
    }
}

//icona cestino dashboard
.my-icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 5px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-color: $red;
    }
}

// End DASHBOARD
//appartamenti degli host
.host-apartments-img {
    max-width: 400px;
}

//fine appartamenti degli host
//appartamenti degli utenti
.apartments-img {
    max-width: 400px;
}

//fine appartamenti degli utenti
//tutti i font size da 10 a 25px
.fs-10 {
    font-size: 10px;
}

.fs-11 {
    font-size: 11px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

//fine font size da 10 a 25px
//fix navbar index
// .my-navabar-collapse {
// z-index: 99;
// }